@model Hi_Shop.EndPoint.Models.ViewModels.User.LoginViewModel

@{
    ViewData["Title"] = "ورود به حساب";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود  </title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="~/Theme/assets/css/font-awesome.min.css">
    <!-- Bootstrap 4.5.3 -->
    <link rel="stylesheet" href="~/Theme/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Theme/assets/css/theme.css">

</head>

<body>

    <div class="page-wrapper auth-page-wrapper">

        <!-- Page Content -->
        <main class="page-content">
            <div class="container">
                <div class="auth-wrapper">
                    <div class="auth-form shadow-around">
                        <div class="site-logo">
                            <a href="~/">
                                <img src="~/theme/assets/images/logo.png" alt="logo">
                            </a>
                        </div>
                        <div class="auth-form-title">
                            ورود به های شاپ
                        </div>

                        <form asp-action="Login">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-element-row">
                                <label asp-for="Email" class="label-element"></label>

                                <div class="form-element-with-icon">
                                    <input asp-for="Email" class="input-element" />
                                    <i class="fad fa-user"></i>
                                </div>
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                            <div class="form-element-row">
                                <label asp-for="Password" class="label-element">
                                    <span class="d-flex justify-content-between">
                                        <span>کلمه عبور</span>
                                        <a href="#" class="link--with-border-bottom">رمز عبور خود را فراموش کرده‌ام</a>
                                    </span>
                                </label>
                                <div class="form-element-with-icon">
                                    <input class="input-element" asp-for="Password">
                                    <i class="fad fa-key-skeleton"></i>
                                </div>
                            </div>
                            <div class="form-element-row">
                                <label class="container-checkbox">
                                    مرا به خاطر داشته باش
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="form-element-row text-left">
                                <button class="btn-element btn-info-element">
                                    <i class="fad fa-sign-in-alt"></i>
                                    ورود به فروشگاه
                                </button>
                            </div>
                            <input type="hidden" asp-for="ReturnUrl" />
                        </form>
                        <div class="auth-form-footer">
                            <span>کاربر جدید هستید؟</span>
                            <a href="~/account/register" class="link--with-border-bottom">ثبت نام در فروشگاه</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- end Page Content -->
        <!-- Page mini-Footer -->
        <footer class="mini-footer">
            <div class="container main-container">
                <div class="row">
                    <div class="col-12">
                        <ul class="mini-footer-menu">
                            <li><a href="#">درباره ما</a></li>
                            <li><a href="#">فرصت های شغلی</a></li>
                            <li><a href="#">تماس با ما</a></li>
                            <li><a href="#">همکاری با سازمان ها</a></li>
                        </ul>
                    </div>
                    <div class="col-12 mt-2 mb-3">
                        <div class="footer-light-text">
                            استفاده از مطالب فروشگاه اینترنتی باگتو, فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است..
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <div class="copy-right-mini-footer">
                            © All rights reserved
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Page mini-Footer -->

    </div>


    <script src="~/Theme/assets/js/jquery-3.5.1.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
</body>

</html>
